@model OrderDbFirst.Models.Drink

@{
    ViewBag.Title = "Modal";
}

<h2>Modal</h2>




<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
